body {
    margin: 0;
    background-color: rgb(167, 167, 167);
}

.center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Press Start 2P', cursive;
    color: rgb(155, 50, 50);
}

canvas {
    background: rgb(74, 141, 74);
    margin-right: 20px;
    margin-left: 20px;
}

.hidden {
    height: 0;
    width: 0;
}

.page-row {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;   
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(155, 50, 50);
    padding: 15px;
    border-radius: 5px;
    color: white;
}