.center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: red;
}

canvas {
    background: rgb(74, 141, 74);
}

.hidden {
    height: 0;
    width: 0;
}
