/* line 2, /Users/prose009/Desktop/igclone/app/assets/stylesheets/edituser.scss */
.user-form-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  background-color: white;
  border: 1px solid #dbdada;
  margin-top: 15px;
  margin-bottom: 30px;
}

/* line 14, /Users/prose009/Desktop/igclone/app/assets/stylesheets/edituser.scss */
.edit-user-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 24, /Users/prose009/Desktop/igclone/app/assets/stylesheets/edituser.scss */
.edit-user-form h3 {
  font-family: serif;
}

/* line 28, /Users/prose009/Desktop/igclone/app/assets/stylesheets/edituser.scss */
.edit-user-form label {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

/* line 34, /Users/prose009/Desktop/igclone/app/assets/stylesheets/edituser.scss */
.edit-user-form label > input {
  display: flex;
  margin-left: 20px;
}

/* line 38, /Users/prose009/Desktop/igclone/app/assets/stylesheets/edituser.scss */
.edit-user-form label > textarea {
  display: flex;
  margin-left: 20px;
}

/* line 43, /Users/prose009/Desktop/igclone/app/assets/stylesheets/edituser.scss */
.edit-user-form input {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 4px;
}

/* line 50, /Users/prose009/Desktop/igclone/app/assets/stylesheets/edituser.scss */
.edit-user-form input:first-child {
  border: none;
  background-color: #f7f7f7;
}

/* line 55, /Users/prose009/Desktop/igclone/app/assets/stylesheets/edituser.scss */
.edit-user-form input[type="submit"] {
  border: none;
  color: white;
  background-color: #4788d1;
  height: 40px;
  border-radius: 4px;
}

/* line 64, /Users/prose009/Desktop/igclone/app/assets/stylesheets/edituser.scss */
.edit-user-form textarea {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  max-width: 125px;
  border: none;
  background-color: #f7f7f7;
  border-radius: 4px;
}
