/* line 1, /Users/prose009/Desktop/igclone/app/assets/stylesheets/greeting.scss */
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bdbdbd;
  background-color: white;
  width: 100%;
  height: 100%;
}

/* line 13, /Users/prose009/Desktop/igclone/app/assets/stylesheets/greeting.scss */
.home-links-div {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  justify-content: center;
  align-items: center;
}

/* line 22, /Users/prose009/Desktop/igclone/app/assets/stylesheets/greeting.scss */
.home-links-div img {
  height: 40px;
  padding-right: 20px;
  filter: grayscale(100%);
}

/* line 28, /Users/prose009/Desktop/igclone/app/assets/stylesheets/greeting.scss */
.home-links-div .home-link {
  text-decoration: none;
  color: black;
}

/* line 32, /Users/prose009/Desktop/igclone/app/assets/stylesheets/greeting.scss */
.home-links-div h2 {
  padding-left: 20px;
  font-family: 'Cookie', cursive;
  border-left: 1px solid #bdbdbd;
  font-size: 30px;
}

/* line 39, /Users/prose009/Desktop/igclone/app/assets/stylesheets/greeting.scss */
.right-nav-div {
  display: flex;
  flex-direction: row;
  padding-right: 30px;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 25px;
}

/* line 49, /Users/prose009/Desktop/igclone/app/assets/stylesheets/greeting.scss */
.profile-link {
  padding-right: 20px;
  height: 50px;
}

/* line 54, /Users/prose009/Desktop/igclone/app/assets/stylesheets/greeting.scss */
.middle-nav-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 5px;
  margin-right: 50px;
}

/* line 64, /Users/prose009/Desktop/igclone/app/assets/stylesheets/greeting.scss */
.nav-bar .search {
  display: flex;
  text-align: center;
  border: 1px solid #dbdada;
  border-radius: 1px;
  height: 30px;
  width: 400px;
  background-color: #f7f7f7;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 3px;
}

/* line 78, /Users/prose009/Desktop/igclone/app/assets/stylesheets/greeting.scss */
.right-button {
  height: 40px;
  width: 42px;
  padding-right: 5px;
  cursor: pointer;
}

/* line 86, /Users/prose009/Desktop/igclone/app/assets/stylesheets/greeting.scss */
.right-button-prof {
  padding-top: 3px;
  padding-left: 18px;
  height: 39px;
  width: 40px;
  filter: contrast(60%);
}

/* line 98, /Users/prose009/Desktop/igclone/app/assets/stylesheets/greeting.scss */
.nav-login {
  margin-top: 14px;
  margin-bottom: 8px;
  width: 65%;
  height: 25px;
  display: flex;
  justify-content: center;
  background-color: #6296d1;
  color: white;
  border-radius: 4px;
  margin-right: 20px;
  padding-top: 8px;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 11px;
}

/* line 115, /Users/prose009/Desktop/igclone/app/assets/stylesheets/greeting.scss */
.nav-signup {
  margin-top: 14px;
  margin-bottom: 8px;
  width: 65%;
  height: 25px;
  display: flex;
  justify-content: center;
  color: #6296d1;
  border-radius: 4px;
  margin-right: 15px;
  width: 150px;
  padding-top: 8px;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 11px;
}
