/* line 1, /Users/prose009/Desktop/igclone/app/assets/stylesheets/mainfeed.scss */
.feed-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 7, /Users/prose009/Desktop/igclone/app/assets/stylesheets/mainfeed.scss */
.feed-main .post {
  height: 500px;
  width: 600px;
}

/* line 12, /Users/prose009/Desktop/igclone/app/assets/stylesheets/mainfeed.scss */
.feed-main > header > img {
  height: 50px;
  width: 50px;
  padding-left: 10px;
}

/* line 18, /Users/prose009/Desktop/igclone/app/assets/stylesheets/mainfeed.scss */
.feed-main > header {
  display: flex;
  align-items: center;
}

/* line 23, /Users/prose009/Desktop/igclone/app/assets/stylesheets/mainfeed.scss */
.feed-list {
  list-style: none;
  margin-top: 0;
}

/* line 28, /Users/prose009/Desktop/igclone/app/assets/stylesheets/mainfeed.scss */
.feed-list li {
  margin-bottom: 35px;
  background-color: white;
  border: 1px solid #bdbdbd;
}

/* line 36, /Users/prose009/Desktop/igclone/app/assets/stylesheets/mainfeed.scss */
.feed-item-whole {
  display: flex;
  flex-direction: column;
}

/* line 41, /Users/prose009/Desktop/igclone/app/assets/stylesheets/mainfeed.scss */
.feed-item-whole > span {
  display: flex;
  align-items: center;
  padding: 12px;
}

/* line 47, /Users/prose009/Desktop/igclone/app/assets/stylesheets/mainfeed.scss */
.feed-item-whole a {
  margin-right: 8px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* line 54, /Users/prose009/Desktop/igclone/app/assets/stylesheets/mainfeed.scss */
.caption {
  height: 35px;
  max-height: 55px;
  display: flex;
  flex-direction: column;
  padding: 5px 0px 6px 12px;
  align-items: flex-start;
}

/* line 63, /Users/prose009/Desktop/igclone/app/assets/stylesheets/mainfeed.scss */
.caption p {
  margin-top: 3px;
  margin-bottom: 0px;
}

/* line 69, /Users/prose009/Desktop/igclone/app/assets/stylesheets/mainfeed.scss */
.add-comment-feed {
  border-top: 1px solid #bdbdbd;
  height: 50px;
  display: flex;
  align-items: center;
}

/* line 76, /Users/prose009/Desktop/igclone/app/assets/stylesheets/mainfeed.scss */
.add-comment-feed input:first-child {
  height: 50px;
  width: 500px;
  border: none;
  background-color: inherit;
  font-size: 17px;
  align-items: center;
  padding-top: 0px;
  padding-left: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* line 88, /Users/prose009/Desktop/igclone/app/assets/stylesheets/mainfeed.scss */
.add-comment-feed input:last-child {
  height: 50px;
  background-color: inherit;
  border: none;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  color: #3c78bd;
  padding-right: 20px;
  cursor: pointer;
}

/* line 102, /Users/prose009/Desktop/igclone/app/assets/stylesheets/mainfeed.scss */
.comment-feed {
  display: flex;
  /* list-style: none; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  /* padding-top: 3px; */
  /* padding-bottom: 5px; */
  padding: 2px 0px 6px 12px;
}

/* line 111, /Users/prose009/Desktop/igclone/app/assets/stylesheets/mainfeed.scss */
.comment-feed > div {
  margin-left: auto;
  padding-right: 15px;
}

/* line 116, /Users/prose009/Desktop/igclone/app/assets/stylesheets/mainfeed.scss */
.feed-comments-div {
  max-height: 80px;
  overflow: scroll;
}

/* line 121, /Users/prose009/Desktop/igclone/app/assets/stylesheets/mainfeed.scss */
.likes-div-feed {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 10px;
  padding-left: 10px;
}

/* line 129, /Users/prose009/Desktop/igclone/app/assets/stylesheets/mainfeed.scss */
.likes-div-feed img {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

/* line 135, /Users/prose009/Desktop/igclone/app/assets/stylesheets/mainfeed.scss */
.likes-div-feed p {
  padding-left: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
