/* line 1, /Users/prose009/Desktop/igclone/app/assets/stylesheets/modal.scss */
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

/* line 11, /Users/prose009/Desktop/igclone/app/assets/stylesheets/modal.scss */
.modal-child {
  position: absolute;
  background-color: #f7f7f7;
  max-height: 600px;
  min-height: 600px;
  min-width: 400px;
  max-width: 400px;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

/* line 23, /Users/prose009/Desktop/igclone/app/assets/stylesheets/modal.scss */
.modal-background-options {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

/* line 33, /Users/prose009/Desktop/igclone/app/assets/stylesheets/modal.scss */
.modal-child-options {
  position: absolute;
  background-color: #f7f7f7;
  max-width: 390px;
  max-height: 270px;
  min-width: 390px;
  min-height: 270px;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

/* line 45, /Users/prose009/Desktop/igclone/app/assets/stylesheets/modal.scss */
.modal-background-comments {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

/* line 55, /Users/prose009/Desktop/igclone/app/assets/stylesheets/modal.scss */
.modal-child-comments {
  position: absolute;
  background-color: #f7f7f7;
  max-height: 65px;
  max-width: 225px;
  min-height: 65px;
  min-width: 225px;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
